/* =============extra small========== */@media (max-width:575.98px){


/* ------------contact ---------- */
.mb-4 {
	margin-bottom: 1.5rem !important;
    margin-top: 35px;
}






/* -----------bottom to top--------- */


.bottom_to_top {
	width: 25px;
	height: 25px;
	right: 25px;
	bottom: 25px;
	font-size: 15px;
}


    /* -------------banner part----------- */

    #banner .container .banner__heading h1 {
        font-size: 42px;
        margin-bottom: 32px;
        text-align: center;
    }

    #banner .container .banner__heading h4 {
        font-size: 20px;
    }

    #banner .container .banner__icon {
        right: 50px;
        bottom: 45px;
    }

    #banner .container .banner__icon ul li a {
        font-size: 24px;
    }

    #banner .container .banner__icon ul {
        gap: 6px;
    }


    /* ---------------about part-------- */

    #about {
        padding: 65px 0;
    }

    #about .container p {
        font-size: 14px;
    }

    #about .container h2::after {
        bottom: -40px;
    }

    #about .container h2 {
        font-size: 40px;
        margin-bottom: 96px;
    }

    .about__img{
        display: flex;
        justify-content: center;
    }

    .about__img img{
        height: 150px !important;
        width: 150px !important;
        border-radius: 50%;
        border: 10px solid rgba(18, 115, 115, 0.6);
    }

    .about__heading{
        margin-top: 30px;
        text-align: center;
    }

    #about .container .about__main .about__detail .about__heading h3 {
        margin-bottom: 10px;
    }

    #about .container .about__main .about__detail .about__heading h1 {
        font-size: 25px;
        line-height: 1.4;
        margin-bottom: 14px;
    }

    #about .container .about__main .about__detail .about__heading p {
        text-align: start;
    }

    .about__name {
        text-align: start;
        margin-bottom: 15px;
    }

    #about .container .about__main .about__detail .about__heading .about__contact .about__email {
        text-align: start;
    }

    .about__age{
        text-align: start;
        margin-bottom: 15px;
    }

    .about__from{    
        text-align: start;
        margin-bottom: 15px;
    }

    .cv__download{
        width: 50%;
    }

    .cv__icon{
        display: flex;
        align-items: end;
        justify-content: end;
        width: 50%;
    }

    .about__service_heading {
        margin-top: 40px;
    }

    #about .container .about__service_heading .service_heading .common_heading p {
        font-size: 14px;
        margin-bottom: 18px;
    }

    #about .container .about__service_heading .service_heading .common_heading h4 {
        font-size: 42px;
        margin-bottom: 45px;
    }

    #about .container .about__service_card .about__card {
        padding: 25px 30px;
    }

    #about .container .about__service_card .about__card .card__logo {
        font-size: 38px;
        margin-bottom: 0px;
    }

    #about .container .about__service_card .about__card .card__title h4 {
        font-size: 18px;
        margin-bottom: 5px;
    }

    #about .container .about__service_card .about__card .card__pera p {
        font-size: 13px;
        line-height: 1.5;
        margin-bottom: 0;
    }

    #about .container .about__service_heading .service_heading .common_heading h4 {
        margin-top: 0px;
    }

    .plan__heading .common_heading p{
        font-size: 13px !important;
        margin-bottom: 15px;
    }
    .plan__heading .common_heading h4{
        font-size: 38px
    }

    #about .container .plan__card_main .plan__card {
        margin-bottom: 25px;
    }

    .resume__heading_main .common_heading p{
        font-size: 13px;
        margin-bottom: 18px;
    }
    .resume__heading_main .common_heading h4{
        font-size: 38px;
        margin-bottom: 25px;
    }

    #resume .container .resume__heading_main .common_heading h4::after {
        bottom: -35px;
    }

    #resume .container .skill__main {
        margin-bottom: 0px;
    }

    #portfolio .container .portfolio__heading_main h4::after {
        bottom: -35px;
    }

    #portfolio .container .portfolio__heading_main h4 {
        margin-bottom: 70px;
    }











}



/* ==============small============== */


@media (min-width:576px) and (max-width:767.98px){


/* ------------contact ---------- */
.mb-4 {
	margin-bottom: 1.5rem !important;
    margin-top: 35px;
}





    /* -------------banner part----------- */

    #banner .container .banner__heading h1 {
        font-size: 42px;
        margin-bottom: 32px;
        text-align: center;
    }

    #banner .container .banner__heading h4 {
        font-size: 20px;
    }

    #banner .container .banner__icon {
        right: 65px;
        bottom: 65px;
    }

    #banner .container .banner__icon ul li a {
        font-size: 24px;
    }

    #banner .container .banner__icon ul {
        gap: 6px;
    }


    /* ---------------about part-------- */

    #about {
        padding: 65px 0;
    }

    #about .container p {
        font-size: 14px;
    }

    #about .container h2::after {
        bottom: -40px;
    }

    #about .container h2 {
        font-size: 40px;
        margin-bottom: 96px;
    }

    .about__img{
        display: flex;
        justify-content: center;
    }

    .about__img img{
        height: 150px !important;
        width: 150px !important;
        border-radius: 50%;
        border: 10px solid rgba(18, 115, 115, 0.6);
    }

    .about__heading{
        margin-top: 30px;
        text-align: center;
    }

    #about .container .about__main .about__detail .about__heading h3 {
        margin-bottom: 10px;
    }

    #about .container .about__main .about__detail .about__heading h1 {
        font-size: 25px;
        line-height: 1.4;
        margin-bottom: 14px;
    }

    #about .container .about__main .about__detail .about__heading p {
        text-align: start;
    }

    .about__name {
        text-align: start;
        margin-bottom: 15px;
    }

    #about .container .about__main .about__detail .about__heading .about__contact .about__email {
        text-align: start;
    }

    .about__age{
        text-align: start;
        margin-bottom: 15px;
    }

    .about__from{    
        text-align: start;
        margin-bottom: 15px;
    }

    .cv__icon{
        display: flex;
        align-items: end;
        justify-content: end;
    }

    .about__service_heading {
        margin-top: 40px;
    }

    #about .container .about__service_heading .service_heading .common_heading p {
        font-size: 14px;
        margin-bottom: 18px;
    }

    #about .container .about__service_heading .service_heading .common_heading h4 {
        font-size: 42px;
        margin-bottom: 45px;
    }

    #about .container .about__service_card .about__card {
        padding: 25px 30px;
    }

    #about .container .about__service_card .about__card .card__logo {
        font-size: 38px;
        margin-bottom: 0px;
    }

    #about .container .about__service_card .about__card .card__title h4 {
        font-size: 18px;
        margin-bottom: 5px;
    }

    #about .container .about__service_card .about__card .card__pera p {
        font-size: 13px;
        line-height: 1.5;
        margin-bottom: 0;
    }

    #about .container .about__service_heading .service_heading .common_heading h4 {
        margin-top: 0px;
    }

    .plan__heading .common_heading p{
        font-size: 13px !important;
        margin-bottom: 15px;
    }
    .plan__heading .common_heading h4{
        font-size: 38px
    }

    #about .container .plan__card_main .plan__card {
        margin-bottom: 25px;
    }

    .resume__heading_main .common_heading p{
        font-size: 13px;
        margin-bottom: 18px;
    }
    .resume__heading_main .common_heading h4{
        font-size: 38px;
        margin-bottom: 25px;
    }

    #resume .container .resume__heading_main .common_heading h4::after {
        bottom: -35px;
    }

    #resume .container .skill__main {
        margin-bottom: 0px;
    }

    #portfolio .container .portfolio__heading_main h4::after {
        bottom: -35px;
    }

    #portfolio .container .portfolio__heading_main h4 {
        margin-bottom: 70px;
    }


}


/* =================mrdium============== */

@media (min-width:768px) and (max-width:991.98px){


/* ------------contact ---------- */
.mb-4 {
	margin-bottom: 1.5rem !important;
    margin-top: 35px;
}

    /* -------------banner part----------- */

    #banner .container .banner__heading h1 {
        font-size: 48px;
        margin-bottom: 34px;
        text-align: center;
    }

    #banner .container .banner__heading h4 {
        font-size: 24px;
    }

    #banner .container .banner__icon {
        right: 70px;
        bottom: 70px;
    }

    #banner .container .banner__icon ul li a {
        font-size: 26px;
    }

    #banner .container .banner__icon ul {
        gap: 8px;
    }


    /* ---------------about part-------- */

    #about {
        padding: 65px 0;
    }

    #about .container p {
        font-size: 14px;
    }

    #about .container h2::after {
        bottom: -40px;
    }

    #about .container h2 {
        font-size: 40px;
        margin-bottom: 96px;
    }

    .about__img{
        display: flex;
        justify-content: center;
    }

    .about__img img {
        height: 250px !important;
        width: 250px !important;
        border-radius: 50%;
        border: 15px solid rgba(18, 115, 115, 0.6);
    }

    .about__heading{
        margin-top: 30px;
        text-align: center;
    }

    #about .container .about__main .about__detail .about__heading h3 {
        margin-bottom: 10px;
    }

    #about .container .about__main .about__detail .about__heading h1 {
        font-size: 25px;
        line-height: 1.4;
        margin-bottom: 14px;
    }

    #about .container .about__main .about__detail .about__heading p {
        text-align: start;
    }

    .about__name {
        text-align: start;
        margin-bottom: 15px;
    }

    #about .container .about__main .about__detail .about__heading .about__contact .about__email {
        text-align: start;
    }

    .about__age{
        text-align: start;
        margin-bottom: 15px;
    }

    .about__from{    
        text-align: start;
        margin-bottom: 15px;
    }

    .about__download{
        display: flex;
        justify-content: start;
    }



    .cv__icon{
        display: flex;
        align-items: end;
        justify-content: start;
    }

    .about__service_heading {
        margin-top: 40px;
    }

    #about .container .about__service_heading .service_heading .common_heading p {
        font-size: 14px;
        margin-bottom: 18px;
    }

    #about .container .about__service_heading .service_heading .common_heading h4 {
        font-size: 42px;
        margin-bottom: 45px;
    }

    #about .container .about__service_card .about__card {
        padding: 25px 30px;
    }

    #about .container .about__service_card .about__card .card__logo {
        font-size: 42px;
        margin-bottom: 4px;
    }

    #about .container .about__service_card .about__card .card__title h4 {
        font-size: 20px;
        margin-bottom: 8px;
    }

    #about .container .about__service_card .about__card .card__pera p {
        font-size: 13px;
        line-height: 1.6;
        margin-bottom: 0;
    }

    #about .container .about__service_heading .service_heading .common_heading h4 {
        margin-top: 0px;
    }

    .plan__heading .common_heading p{
        font-size: 13px !important;
        margin-bottom: 15px;
    }
    .plan__heading .common_heading h4{
        font-size: 38px
    }

/* --------------plan card-------- */

    .plan__card_main{
        justify-content: center;
    }

    #about .container .plan__card_main .plan__card {
        margin-bottom: 25px;
    }


    #about .container .plan__card_main .plan__card ul li {
        line-height: 2;
    }

    #about .container .plan__card_main .plan__card:hover ul li {
        line-height: 2; 
    }
    #about .container .plan__card_main .plan__card:hover h5 {
        font-size: 26px;
    }
    #about .container .plan__card_main .plan__card h5 {
        font-size: 26px;
    }

    #about .container .plan__card_main .plan__card .plan__logo {
        margin-bottom: 14px;
    }

    #about .container .plan__card_main .plan__card:hover .plan__logo {
        margin-bottom: 14px;
    }

/* -----------------resume------ */

    .resume__heading_main .common_heading p{
        font-size: 13px;
        margin-bottom: 18px;
    }
    .resume__heading_main .common_heading h4{
        font-size: 38px;
        margin-bottom: 25px;
    }

    #resume .container .resume__heading_main .common_heading h4::after {
        bottom: -35px;
    }

    #resume .container .skill__main {
        margin-bottom: 0px;
    }

    #portfolio .container .portfolio__heading_main h4::after {
        bottom: -35px;
    }

    #portfolio .container .portfolio__heading_main h4 {
        margin-bottom: 70px;
    }


}


/* =================larg============== */


@media (min-width:992px) and (max-width:1199.98px){



    .cv__icon{
        display: flex;
        align-items: center;
        justify-content: end;
    }


}






















