* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  line-height: 0.8;
}

p {
  color: #444;
}

.common_heading p {
  font-size: 15px;
  margin-bottom: 25px;
}
.common_heading h4 {
  color: #151515;
  font-size: 46px;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 96px;
  margin-bottom: 50px;
}

.list__btn.btn__active {
  color: #1b50c1;
  border-bottom: 1px solid #1b50c1;
  transition: all linear 0.3s;
}

.row-gap-5 {
  row-gap: 50px !important;
}

.bottom_to_top {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #1C1E53;
  right: 30px;
  bottom: 30px;
  position: fixed;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  transition: all linear 0.3s;
  color: #fff;
}
.bottom_to_top:hover {
  color: #fff;
  background-color: #1b50c1;
  opacity: 0.8;
}

.nav {
  padding: 15px 0;
  position: absolute;
  z-index: 999;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  transition: all linear 0.3s;
  background-color: rgba(21, 21, 21, 0.799);
}
.nav .container .nav__main ul li a {
  transition: all linear 0.2s;
  color: #fff !important;
  font-weight: 600;
}
.nav .container .nav__main ul li a:hover {
  color: #1b50c1 !important;
}

.nav.fixed {
  position: fixed;
  width: 100%;
  z-index: 999;
  transition: all linear 0.2s;
  left: 0;
  top: 0;
  padding: 0px 0;
}

#banner {
  padding: 250px 0;
  background: url(../images/about.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#banner .container .banner__heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#banner .container .banner__heading h1 {
  color: #fff;
  font-size: 70px;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 50px;
}
#banner .container .banner__heading h4 {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.3px;
}
#banner .container .banner__icon {
  position: absolute;
  right: 100px;
  bottom: 100px;
}
#banner .container .banner__icon ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#banner .container .banner__icon ul li a {
  font-size: 30px;
  color: #fff;
  transition: all linear 0.2s;
}
#banner .container .banner__icon ul li a:hover {
  color: #1b50c1;
}

#about {
  padding: 150px 0;
  background-color: #f5f5f5;
}
#about .container p {
  font-size: 15px;
}
#about .container h2 {
  position: relative;
  color: #151515;
  font-size: 46px;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 96px;
}
#about .container h2::after {
  position: absolute;
  content: "";
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 70px;
  background-color: #5c009e;
}
#about .container .about__main .about__detail .about__heading h3 {
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
  color: #5c009e;
  margin-bottom: 20px;
}
#about .container .about__main .about__detail .about__heading h1 {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.6;
  color: #151515;
  margin-bottom: 20px;
}
#about .container .about__main .about__detail .about__heading p {
  font-size: 15px;
  border-bottom: 2px solid #1C1E53;
  font-weight: 400;
  line-height: 1.95;
  padding-bottom: 20px;
}
#about .container .about__main .about__detail .about__heading .about__contact {
  margin: 20px 0;
}
#about .container .about__main .about__detail .about__heading .about__contact .about__name h5 {
  display: inline-block;
  font-size: 16px;
  margin-right: 5px;
  color: #151515;
}
#about .container .about__main .about__detail .about__heading .about__contact .about__name span {
  font-size: 15px;
  color: #151515;
}
#about .container .about__main .about__detail .about__heading .about__contact .about__email {
  margin-bottom: 15px;
}
#about .container .about__main .about__detail .about__heading .about__contact .about__email h5 {
  display: inline-block;
  font-size: 16px;
  margin-right: 5px;
  color: #151515;
}
#about .container .about__main .about__detail .about__heading .about__contact .about__age h5 {
  display: inline-block;
  font-size: 16px;
  margin-right: 5px;
  color: #151515;
}
#about .container .about__main .about__detail .about__heading .about__contact .about__age span {
  font-size: 15px;
  color: #151515;
}
#about .container .about__main .about__detail .about__heading .about__contact .about__from h5 {
  display: inline-block;
  font-size: 16px;
  margin-right: 5px;
  color: #151515;
}
#about .container .about__main .about__detail .about__heading .about__contact .about__from span {
  font-size: 15px;
  color: #151515;
}
#about .container .about__main .about__detail .about__heading .about__link .about__download a {
  padding: 13px 35px;
  background-color: #5c009e;
  border-radius: 25px;
  color: #fff;
  font-size: 14px;
  margin-top: 10px;
  display: inline-block;
  transition: all linear 0.2s;
}
#about .container .about__main .about__detail .about__heading .about__link .about__download a:hover {
  opacity: 0.7;
}
#about .container .about__main .about__detail .about__heading .about__link .about__icon {
  position: relative;
}
#about .container .about__main .about__detail .about__heading .about__link .about__icon ul {
  display: flex;
  gap: 15px;
  margin: 0;
}
#about .container .about__main .about__detail .about__heading .about__link .about__icon ul li a {
  color: #151515;
  font-size: 25px;
  transition: all linear 0.2s;
}
#about .container .about__main .about__detail .about__heading .about__link .about__icon ul li a:hover {
  color: rgba(26, 24, 24, 0.703);
}
#about .container .about__main .about__detail .about__heading .about__link .about__icon::after {
  content: "";
  position: absolute;
  left: -85px;
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
  width: 60px;
  background-color: #151515;
}
#about .container .about__service_heading .service_heading {
  margin-top: 50px;
}
#about .container .about__service_heading .service_heading .common_heading p {
  font-size: 15px;
  margin-bottom: 25px;
}
#about .container .about__service_heading .service_heading .common_heading h4 {
  color: #151515;
  font-size: 46px;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 96px;
  margin-bottom: 50px;
}
#about .container .about__service_card {
  row-gap: 24px;
}
#about .container .about__service_card .about__card {
  padding: 38px 42px;
  background-color: #e1e0e0;
  border-bottom: 5px solid transparent;
  transition: all linear 0.3s;
  border-radius: 5px;
}
#about .container .about__service_card .about__card:hover {
  border-bottom: 5px solid #5c009e;
  background-color: rgba(22, 22, 22, 0.815);
  cursor: pointer;
}
#about .container .about__service_card .about__card:hover .card__logo {
  color: #5c009e;
}
#about .container .about__service_card .about__card:hover .card__title h4 {
  color: #F0F0F0;
}
#about .container .about__service_card .about__card:hover .card__pera p {
  color: #9F9F9F;
}
#about .container .about__service_card .about__card .card__logo {
  font-size: 50px;
  margin-bottom: 10px;
  color: #1C1E53;
  transition: all linear 0.3s;
}
#about .container .about__service_card .about__card .card__title h4 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.5px;
  margin-bottom: 14px;
  color: #151515;
  transition: all linear 0.3s;
}
#about .container .about__service_card .about__card .card__pera p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.95;
  color: #444;
  transition: all linear 0.3s;
}
#about .container .review__main .slick__slider .review__card {
  padding: 48px 40px;
  margin: 0 15px;
  background-color: #e1e0e0;
  position: relative;
  overflow: hidden;
}
#about .container .review__main .slick__slider .review__card::after {
  content: "\f10e";
  position: absolute;
  right: 40px;
  top: 40px;
  color: #1C1E53;
  font-size: 50px;
  font-family: FontAwesome;
}
#about .container .review__main .slick__slider .review__card .review__detail {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}
#about .container .review__main .slick__slider .review__card .review__detail .review__img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
#about .container .review__main .slick__slider .review__card .review__detail .review__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#about .container .review__main .slick__slider .review__card .review__detail .review__info h4 {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #151515;
}
#about .container .review__main .slick__slider .review__card .review__detail .review__info p {
  color: #444;
  font-size: 14px;
  font-weight: 400;
}
#about .container .review__main .slick__slider .review__card p {
  font-size: 14px;
  color: #444;
  font-weight: 400;
  line-height: 1.95;
}
#about .container .review__main .slick__slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
#about .container .review__main .slick__slider .slick-dots li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgba(106, 77, 244, 0.3);
}
#about .container .review__main .slick__slider .slick-dots li button {
  display: none;
}
#about .container .review__main .slick__slider .slick-dots .slick-active {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #1C1E53;
}
#about .container .plan__main_heading .plan__heading {
  margin-top: 50px;
}
#about .container .plan__card_main .plan__card {
  background-color: #e1e0e0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
  padding: 50px 0;
  text-align: center;
  margin-top: 50px;
  border-radius: 10px;
  transition: all linear 0.3s;
}
#about .container .plan__card_main .plan__card:hover {
  background-color: rgba(22, 22, 22, 0.909);
  cursor: pointer;
  margin-top: 0;
}
#about .container .plan__card_main .plan__card:hover .plan__logo {
  font-size: 50px;
  color: #5c009e;
  margin-bottom: 20px;
}
#about .container .plan__card_main .plan__card:hover h4 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #F0F0F0;
}
#about .container .plan__card_main .plan__card:hover h5 {
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 22px;
  line-height: 1.2;
  color: #F0F0F0;
}
#about .container .plan__card_main .plan__card:hover ul {
  margin-bottom: 20px !important;
  overflow-x: hidden !important;
  padding: 0;
}
#about .container .plan__card_main .plan__card:hover ul li {
  color: #9F9F9F;
  font-size: 16px;
  font-weight: 400;
  line-height: 2.5;
}
#about .container .plan__card_main .plan__card:hover a {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  padding: 10px 35px;
  border-radius: 30px;
  font-size: 16px;
  background-color: #5c009e !important;
  border: 1px solid #1C1E53 !important;
  color: #fff;
}
#about .container .plan__card_main .plan__card .plan__logo {
  font-size: 50px;
  color: #1C1E53;
  margin-bottom: 20px;
  transition: all linear 0.3s;
}
#about .container .plan__card_main .plan__card h4 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #151515;
  transition: all linear 0.3s;
}
#about .container .plan__card_main .plan__card h5 {
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 22px;
  line-height: 1.2;
  color: #151515;
  transition: all linear 0.3s;
}
#about .container .plan__card_main .plan__card ul {
  margin-bottom: 20px !important;
  overflow-x: hidden !important;
  padding: 0;
}
#about .container .plan__card_main .plan__card ul li {
  color: #444;
  font-size: 16px;
  font-weight: 400;
  line-height: 2.5;
  transition: all linear 0.3s;
}
#about .container .plan__card_main .plan__card a {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  padding: 10px 35px;
  border-radius: 30px;
  font-size: 16px;
  background-color: #1C1E53 !important;
  border: 1px solid #1C1E53 !important;
  color: #fff;
  transition: all linear 0.3s;
}
#about .container .plan__card_main .plan__card a:hover {
  opacity: 0.7;
}

#resume {
  padding: 100px 0;
}
#resume .container .resume__heading_main .common_heading h4 {
  position: relative;
}
#resume .container .resume__heading_main .common_heading h4::after {
  content: "";
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 70px;
  background: #5c009e;
}
#resume .container .resume__main .resume__main_name {
  margin-top: 60px;
}
#resume .container .resume__main .resume__main_name h4 {
  font-size: 26px;
  margin-bottom: 20px;
  font-weight: 500;
  color: #151515;
  margin-left: 20px;
}
#resume .container .resume__main .resume__item .resume__card {
  background-color: #e1e0e0;
  border-left: 2px solid #1C1E53;
  padding: 32px 48px;
  position: relative;
  border-bottom: 1px solid #313131;
  transition: all linear 0.3s;
}
#resume .container .resume__main .resume__item .resume__card::after {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  left: 0;
  top: 40px;
  background: #1C1E53;
  border-radius: 0 10px 10px 0;
  transition: all linear 0.3s;
}
#resume .container .resume__main .resume__item .resume__card:hover {
  background-color: rgba(22, 22, 22, 0.909);
  cursor: pointer;
  border-left: 2px solid #5c009e;
  border-bottom: 1px solid rgba(255, 255, 255, 0.71);
}
#resume .container .resume__main .resume__item .resume__card:hover::after {
  background-color: #95e1d3;
}
#resume .container .resume__main .resume__item .resume__card:hover h5 {
  color: #F0F0F0;
}
#resume .container .resume__main .resume__item .resume__card:hover p {
  color: #9F9F9F;
}
#resume .container .resume__main .resume__item .resume__card h5 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #151515;
  transition: all linear 0.3s;
}
#resume .container .resume__main .resume__item .resume__card p {
  font-size: 14px;
  line-height: 1.95;
  font-weight: 400;
  margin-bottom: 10px;
  color: #444;
  transition: all linear 0.3s;
}
#resume .container .resume__skill_main {
  margin: 50px 0;
}
#resume .container .skill__main {
  background: #e1e0e0;
  height: 14px;
  width: 100%;
  position: relative;
  border-radius: 3px;
  margin-bottom: 40px;
}
#resume .container .skill__main .skill__bg {
  background: #1b50c1;
  height: 100%;
  width: 90%;
  border-radius: 3px;
}
#resume .container .skill__main .skill__text {
  position: absolute;
  top: -20px;
  left: 5px;
  display: flex;
  justify-content: space-between;
  width: 95%;
}
#resume .container .skill__main .skill__text p {
  color: #444;
  font-size: 14px;
  font-weight: 400;
}

#portfolio {
  padding: 50px 0;
  background-color: #F5F2F0;
}
#portfolio .container .portfolio__heading_main h4 {
  position: relative;
  margin-bottom: 100px;
}
#portfolio .container .portfolio__heading_main h4::after {
  content: "";
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 70px;
  background: #5c009e;
}
#portfolio .container ul li {
  cursor: pointer;
  transition: all linear 0.3s;
}
#portfolio .container ul li:hover {
  color: #1b50c1;
}
#portfolio .container .work__card {
  margin-bottom: 24px;
}

#blog {
  padding: 50px;
}
#blog .container .blog__heading_main h4 {
  position: relative;
  margin-bottom: 100px;
}
#blog .container .blog__heading_main h4::after {
  content: "";
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 70px;
  background: #5c009e;
}
#blog .container .blog__img {
  position: relative;
}
#blog .container .blog__img img {
  width: 100%;
}
#blog .container .blog__img .blog__date {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #1b50c1;
  padding: 10px 15px;
  margin: 0;
}
#blog .container .blog__img .blog__date h6 {
  font-style: 8px;
  color: #fff;
  margin: 0;
}
#blog .container .blog__text a {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.1px;
  color: #151515;
}
#blog .container .blog__text p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  color: #444;
}/*# sourceMappingURL=style.css.map */