* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  line-height: 0.8;
}

p {
  color: #444;
}

.nav {
  padding: 30px 0 0 0;
  position: absolute;
  z-index: 999;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}
.nav .container .nav__main ul li a {
  transition: all linear 0.2s;
  color: #fff !important;
  font-weight: 600;
}
.nav .container .nav__main ul li a:hover {
  color: rgba(255, 255, 255, 0.71) !important;
}

.nav.fixed {
  position: fixed;
  width: 100%;
  z-index: 999;
  transition: all linear 0.2s;
  left: 0;
  top: 0;
  padding: 0px 0;
}

#banner {
  padding: 250px 0;
  background: url(../images/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#banner .container .banner__heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#banner .container .banner__heading h1 {
  color: #fff;
  font-size: 70px;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 50px;
}
#banner .container .banner__heading h4 {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.3px;
}
#banner .container .banner__icon {
  position: absolute;
  right: 100px;
  bottom: 100px;
}
#banner .container .banner__icon ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#banner .container .banner__icon ul li a {
  font-size: 30px;
  color: #fff;
  transition: all linear 0.2s;
}
#banner .container .banner__icon ul li a:hover {
  color: rgba(255, 255, 255, 0.71);
}

#about {
  padding: 150px 0;
  background-color: #f5f5f5;
}
#about .container p {
  font-size: 15px;
}
#about .container h2 {
  position: relative;
  color: #151515;
  font-size: 46px;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 96px;
}
#about .container h2::after {
  position: absolute;
  content: "";
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 70px;
  background-color: #5c009e;
}
#about .container .about__main .about__detail .about__heading h3 {
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
  color: #5c009e;
  margin-bottom: 20px;
}
#about .container .about__main .about__detail .about__heading h1 {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.6;
  color: #151515;
  margin-bottom: 20px;
}
#about .container .about__main .about__detail .about__heading p {
  font-size: 15px;
  border-bottom: 2px solid #1C1E53;
  font-weight: 400;
  line-height: 1.95;
  padding-bottom: 20px;
}
#about .container .about__main .about__detail .about__heading .about__contact {
  margin: 20px 0;
}
#about .container .about__main .about__detail .about__heading .about__contact .about__name h5 {
  display: inline-block;
  font-size: 16px;
  margin-right: 5px;
  color: #151515;
}
#about .container .about__main .about__detail .about__heading .about__contact .about__name span {
  font-size: 15px;
  color: #151515;
}
#about .container .about__main .about__detail .about__heading .about__contact .about__email {
  margin-bottom: 15px;
}
#about .container .about__main .about__detail .about__heading .about__contact .about__email h5 {
  display: inline-block;
  font-size: 16px;
  margin-right: 5px;
  color: #151515;
}
#about .container .about__main .about__detail .about__heading .about__contact .about__age h5 {
  display: inline-block;
  font-size: 16px;
  margin-right: 5px;
  color: #151515;
}
#about .container .about__main .about__detail .about__heading .about__contact .about__age span {
  font-size: 15px;
  color: #151515;
}
#about .container .about__main .about__detail .about__heading .about__contact .about__from h5 {
  display: inline-block;
  font-size: 16px;
  margin-right: 5px;
  color: #151515;
}
#about .container .about__main .about__detail .about__heading .about__contact .about__from span {
  font-size: 15px;
  color: #151515;
}
#about .container .about__main .about__detail .about__heading .about__link .about__download a {
  padding: 13px 35px;
  background-color: #5c009e;
  border-radius: 25px;
  color: #fff;
  font-size: 14px;
  margin-top: 10px;
  display: inline-block;
  transition: all linear 0.2s;
}
#about .container .about__main .about__detail .about__heading .about__link .about__download a:hover {
  opacity: 0.7;
}
#about .container .about__main .about__detail .about__heading .about__link .about__icon {
  position: relative;
}
#about .container .about__main .about__detail .about__heading .about__link .about__icon ul {
  display: flex;
  gap: 15px;
  margin: 0;
}
#about .container .about__main .about__detail .about__heading .about__link .about__icon ul li a {
  color: #151515;
  font-size: 25px;
  transition: all linear 0.2s;
}
#about .container .about__main .about__detail .about__heading .about__link .about__icon ul li a:hover {
  color: rgba(26, 24, 24, 0.703);
}
#about .container .about__main .about__detail .about__heading .about__link .about__icon::after {
  content: "";
  position: absolute;
  left: -85px;
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
  width: 60px;
  background-color: #151515;
}
#about .container .about__service_heading .service_heading {
  margin-top: 50px;
}
#about .container .about__service_heading .service_heading .common_heading p {
  font-size: 15px;
  margin-bottom: 25px;
}
#about .container .about__service_heading .service_heading .common_heading h4 {
  color: #151515;
  font-size: 46px;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 96px;
  margin-bottom: 50px;
}
#about .container .about__service_card {
  row-gap: 24px;
}
#about .container .about__service_card .about__card {
  padding: 38px 42px;
  background-color: #e1e0e0;
  border-bottom: 5px solid transparent;
  transition: all linear 0.3s;
  border-radius: 5px;
}
#about .container .about__service_card .about__card:hover {
  border-bottom: 5px solid #5c009e;
  background-color: rgba(22, 22, 22, 0.815);
  cursor: pointer;
}
#about .container .about__service_card .about__card:hover .card__logo {
  color: #5c009e;
}
#about .container .about__service_card .about__card:hover .card__title h4 {
  color: #F0F0F0;
}
#about .container .about__service_card .about__card:hover .card__pera p {
  color: #9F9F9F;
}
#about .container .about__service_card .about__card .card__logo {
  font-size: 50px;
  margin-bottom: 10px;
  color: #1C1E53;
  transition: all linear 0.3s;
}
#about .container .about__service_card .about__card .card__title h4 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.5px;
  margin-bottom: 14px;
  color: #151515;
  transition: all linear 0.3s;
}
#about .container .about__service_card .about__card .card__pera p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.95;
  color: #444;
  transition: all linear 0.3s;
}
#about .container .review__main .slick__slider .review__card {
  padding: 48px 40px;
  margin: 0 15px;
  background-color: #e1e0e0;
  position: relative;
  overflow: hidden;
}
#about .container .review__main .slick__slider .review__card::after {
  content: "\f10e";
  position: absolute;
  right: 40px;
  top: 40px;
  color: #1C1E53;
  font-size: 50px;
  font-family: FontAwesome;
}
#about .container .review__main .slick__slider .review__card .review__detail {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}
#about .container .review__main .slick__slider .review__card .review__detail .review__img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
#about .container .review__main .slick__slider .review__card .review__detail .review__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#about .container .review__main .slick__slider .review__card .review__detail .review__info h4 {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #151515;
}
#about .container .review__main .slick__slider .review__card .review__detail .review__info p {
  color: #444;
  font-size: 14px;
  font-weight: 400;
}
#about .container .review__main .slick__slider .review__card p {
  font-size: 14px;
  color: #444;
  font-weight: 400;
  line-height: 1.95;
}
#about .container .review__main .slick__slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
#about .container .review__main .slick__slider .slick-dots li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgba(106, 77, 244, 0.3);
}
#about .container .review__main .slick__slider .slick-dots li button {
  display: none;
}
#about .container .review__main .slick__slider .slick-dots .slick-active {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #1C1E53;
}/*# sourceMappingURL=style.css.map */