$black: #151515;
$sblack: rgba(22, 22, 22, 0.909);
$white: #fff;
$gray: rgba(255, 255, 255, 0.71);
$Dgray: rgba(26, 24, 24, 0.703);
$lowgray: #e1e0e0;
$peracolor: #444;
$primarycolor: #1C1E53;
$secondarycolor: #5c009e;
$purple:#1b50c1 ;
$hoverpera: #9F9F9F;
$hoverHcolor: #F0F0F0;
$card: #95e1d3;
$semibold: 600;




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}

ul,ol{
    list-style: none;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: 0.8;
}
p{
    color: $peracolor;
}
// .container{
//     width: 1320px;
// }
.common_heading{
    p{
        font-size: 15px;
        margin-bottom: 25px;
    }
    h4{
        color: $black;
        font-size: 46px;
        text-transform: capitalize;
        font-weight: 700;
        margin-bottom: 96px;
        margin-bottom: 50px;
    }
}


.list__btn.btn__active {
	color: $purple;
	border-bottom: 1px solid $purple;
    transition: all linear 0.3s;
}

.row-gap-5{
    row-gap: 50px !important;
}


// ---------------bottop to top-----------
// ---------------bottop to top-----------
.bottom_to_top {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: $primarycolor;
	right: 30px;
	bottom: 30px;
	position: fixed;
	// box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.74);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
    transition: all linear 0.3s;
    color: $white;
    &:hover{
        color: $white;
        background-color: $purple;
        opacity: 0.8;
    }
}

// ---------------bottop to top-----------
// ---------------bottop to top-----------

.navbar__icon i{
    color: $white;
    font-size: 25px;
}
.navbar-light .navbar-toggler {
	// color: rgba(255, 255, 255, 0.55);
	border: 2px solid $white;
}
// ---------------nav start here-----------

.nav {
    padding: 15px 0;
	position: absolute;
    z-index: 999;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
    transition: all linear 0.3s;
    background-color: rgba(21, 21, 21, 0.799);
    .container{
        .nav__main{
            ul{
                li{
                    a{
                        transition: all linear 0.2s;
                        color: $white !important;
                        font-weight: $semibold;

                        &:hover{
                            color: $purple !important;
                        }
                    }
                }
            }
        }
    }
}
.nav.fixed {
	position: fixed;
	width: 100%;
	z-index: 999;
	transition: all linear 0.2s;
	left: 0;
	top: 0;
	padding: 0px 0;
}

// -------------------nav end here---------

// -------------------banner start here---------

#banner{
    padding: 250px 0;
    background: url(../images/about.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .container{
        .banner__heading{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            h1{
                color: $white;
                font-size: 70px;
                letter-spacing: 1px;
                font-weight: 700;
                text-transform: capitalize;
                margin-bottom: 50px;
            }
            h4{
                color: $white;
                font-size: 30px;
                font-weight: 400;
                letter-spacing: 0.3px;

            }
        }
        .banner__icon{
            position: absolute;
            right: 100px;
            bottom: 100px;
            ul{
                display: flex;
                flex-direction: column;
                gap: 10px;
                li{
                    a{
                        font-size: 30px;
                        color: $white;
                        transition: all linear 0.2s;
                        &:hover{
                            color: $purple;
                        }
                    }
                }
            }
        }
    }

}

// -------------------banner end here---------

// ----------------about start here---------

#about{
    padding: 150px 0;
    background-color: #f5f5f5;
    // background: url(../images/ggg.jpg);
    // background-position: center;
    // background-size: cover;
    // background-repeat: no-repeat;

    .container{
        p{
            font-size: 15px;
        }
        h2{
            position: relative;
            color: $black;
            font-size: 46px;
            text-transform: capitalize;
            font-weight: 700;
            margin-bottom: 96px;
            &::after{
                position: absolute;
                content: "";
                bottom: -50px;
                left: 50%;
                transform: translateX(-50%);
                height: 3px;
                width: 70px;
                background-color: $secondarycolor;
            }
        }
        // ------------about me---------
        .about__main{
            .about__detail{
                .about__heading{
                    h3{
                        font-size: 24px;
                        font-weight: 500;
                        text-transform: capitalize;
                        color: $secondarycolor;
                        margin-bottom: 20px;
                    }
                    h1{
                        font-size: 30px;
                        font-weight: 700;
                        line-height: 1.6;
                        color: $black;
                        margin-bottom: 20px;
                    }
                    p{
                        font-size: 15px;
                        border-bottom: 2px solid #1C1E53;
                        font-weight: 400;
                        line-height: 1.95;
                        padding-bottom: 20px;
                    }
                    .about__contact{
                        margin: 20px 0;
                        .about__name{
                            h5{
                                display: inline-block;
                                font-size: 16px;
                                margin-right: 5px;
                                color: $black;
                            }
                            span{
                                font-size: 15px;
                                color: $black;
                            }
                        }
                        .about__email{
                            margin-bottom: 15px;
                            h5{
                                display: inline-block;
                                font-size: 16px;
                                margin-right: 5px;
                                color: $black;
                            }
                        }
                        .about__age{
                            h5{
                                display: inline-block;
                                font-size: 16px;
                                margin-right: 5px;
                                color: $black;
                            }
                            span{
                                font-size: 15px;
                                color: $black;
                            }
                        }
                        .about__from{
                            h5{
                                display: inline-block;
                                font-size: 16px;
                                margin-right: 5px;
                                color: $black;
                            }
                            span{
                                font-size: 15px;
                                color: $black;
                            }
                        }
                    }
                    .about__link{
                        .about__download{
                            a{
                                padding: 13px 35px;
                                background-color: $secondarycolor;
                                border-radius: 25px;
                                color: $white;
                                font-size: 14px;
                                margin-top: 10px;
                                display: inline-block;
                                transition: all linear 0.2s;
                                &:hover{
                                    opacity: 0.7;
                                }
                            }
                        }
                        .cv__icon{
                            display: flex;
                            align-items: center;
                            .about__icon{
                                position: relative;
                                ul{
                                    display: flex;
                                    gap: 15px;
                                    margin: 0;
    
                                    li{
                                        a{
                                            color: $black;
                                            font-size: 25px;
                                            transition: all linear 0.2s;
                                            &:hover{
                                                color: $Dgray;
                                            }
                                        }
                                    }
                                }
                                &::after{
                                    content: "";
                                    position: absolute;
                                    left: -85px;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    height: 1px;
                                    width: 60px;
                                    background-color: $black;
                                }
                            }
                        }
                        
                    }
                }
            }
        }
        // -------------about service--------
        .about__service_heading{
            .service_heading{
                margin-top: 50px;
                .common_heading{
                    p{
                        font-size: 15px;
                        margin-bottom: 25px;
                    }
                    h4{
                        color: $black;
                        font-size: 46px;
                        text-transform: capitalize;
                        font-weight: 700;
                        margin-bottom: 96px;
                        margin-bottom: 50px;
                    }
                }
            }
        }
        // ------------about card------
        .about__service_card{
            row-gap: 24px;
            .about__card{
                padding: 38px 42px;
                background-color: $lowgray;
                border-bottom: 5px solid transparent;
                transition: all linear 0.3s;
                border-radius: 5px;
                &:hover{
                    border-bottom: 5px solid $secondarycolor;
                    background-color: rgba(22, 22, 22, 0.815);
                    cursor: pointer;
                    .card__logo{
                        color: $secondarycolor;
                    }
                    .card__title{
                        h4{
                            color: $hoverHcolor;
                        }
                    }
                    .card__pera{
                        p{
                            color: $hoverpera;
                        }
                    }
                }

                .card__logo{
                    font-size: 50px;
                    margin-bottom: 10px;
                    color: $primarycolor;
                    transition: all linear 0.3s;
                }
                .card__title{
                    h4{
                        font-size: 20px;
                        font-weight: 500;
                        letter-spacing: -.5px;
                        margin-bottom: 14px;
                        color: $black;
                        transition: all linear 0.3s;
                    }
                }
                .card__pera{
                    p{
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 1.95;
                        color: $peracolor;
                        transition: all linear 0.3s;
                    }
                }
            }
        }
        // -------------review ----------
        .review__main{
            .slick__slider{
                .review__card{
                    padding: 48px 40px;
                    margin: 0 15px;
                    background-color: $lowgray;
                    position: relative;
                    overflow: hidden;
                    &::after{
                        content: '\f10e';
                        position: absolute;
                        right: 40px;
                        top: 40px;
                        color: $primarycolor;
                        font-size: 50px;
                        font-family: FontAwesome;
                    }
                    .review__detail{
                        display: flex;
                        align-items: center;
                        gap: 15px;
                        margin-bottom: 20px;
                        .review__img{
                            width: 60px;
                            height: 60px;
                            border-radius: 50%;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        .review__info{
                            h4{
                                font-size: 15px;
                                font-weight: 400;
                                margin-bottom: 10px;
                                color: $black;
                            }
                            p{
                                color:$peracolor ;
                                font-size: 14px;
                                font-weight: 400;
                            }
                        }

                    }
                    p{
                        font-size: 14px;
                        color: $peracolor;
                        font-weight: 400;
                        line-height: 1.95;
                    }
                }
                .slick-dots{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    margin-top: 20px;
                    li{
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        background: rgba(106, 77, 244, 0.3);
                        button{
                            display: none;
                        }
                    }
                    .slick-active{
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        background: $primarycolor;
                    }
                }
            }
        }
        // ----------plan heading---------
        .plan__main_heading{
            .plan__heading{
                margin-top: 50px;
            }
        }
        // -----------plan card------------
        .plan__card_main{
            .plan__card_start{
                margin-top: 50px;
                .plan__card{
                    background-color: $lowgray;
                    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .05);
                    padding: 50px 0;
                    text-align: center;
                    margin-top: 0px;
                    border-radius: 10px;
                    transition: all linear 0.3s;
    
                    &:hover{
                        background-color: $sblack;
                        cursor: pointer;
                        margin-top: -50px;
                        .plan__logo{
                            font-size: 50px;
                            color: $secondarycolor;
                            margin-bottom: 20px;
                        }
                        h4{
                            font-size: 28px;
                            font-weight: 700;
                            margin-bottom: 20px;
                            color: $hoverHcolor;
                        }
                        h5{
                            font-size: 26px;
                            font-weight: 300;
                            margin-bottom: 22px;
                            line-height: 1.2;
                            color: $hoverHcolor;
                        }
                        ul{
                            margin-bottom: 20px !important;
                            overflow-x: hidden !important;
                            padding: 0;
                            li{
                                color: $hoverpera;
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 2.5;
                            }
                        }
                        a{
                            display: inline-block;
                            font-weight: 400;
                            line-height: 1.5;
                            padding: 10px 35px;
                            border-radius: 30px;
                            font-size: 16px;
                            background-color: $secondarycolor !important;
                            border: 1px solid $primarycolor !important;
                            color: $white;
                        }
                    }
    
                    .plan__logo{
                        font-size: 50px;
                        color: $primarycolor;
                        margin-bottom: 20px;
                        transition: all linear 0.3s;
                    }
                    h4{
                        font-size: 28px;
                        font-weight: 700;
                        margin-bottom: 20px;
                        color: $black;
                        transition: all linear 0.3s;
                    }
                    h5{
                        font-size: 26px;
                        font-weight: 300;
                        margin-bottom: 22px;
                        line-height: 1.2;
                        color: $black;
                        transition: all linear 0.3s;
                    }
                    ul{
                        margin-bottom: 20px !important;
                        overflow-x: hidden !important;
                        padding: 0;
                        li{
                            color: $peracolor;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 2.5;
                            transition: all linear 0.3s;
                        }
                    }
                    a{
                        display: inline-block;
                        font-weight: 400;
                        line-height: 1.5;
                        padding: 10px 35px;
                        border-radius: 30px;
                        font-size: 16px;
                        background-color: $primarycolor !important;
                        border: 1px solid $primarycolor !important;
                        color: $white;
                        transition: all linear 0.3s;
                        &:hover{
                            opacity: 0.7;
                        }
                    }
                }
            }
            
        }




    }
}

// ----------------about end here---------

// --------------resume start here--------

#resume{
    padding: 100px 0;

    .container{
        .resume__heading_main{
            .common_heading{
                h4{
                    position: relative;
                    &::after{
                        content: "";
                        position: absolute;
                        bottom: -50px;
                        left: 50%;
                        transform: translateX(-50%);
                        height: 3px;
                        width: 70px;
                        background: $secondarycolor;
                    }
                }
            }
        }
        .resume__main{

            // ---------education part-------
            .resume__main_name{
                margin-top: 60px;
                h4{
                    font-size: 26px;
                    margin-bottom: 20px;
                    font-weight: 500;
                    color: $black;
                    margin-left: 20px;
                }
            }
            .resume__item{
                
                .resume__card{
                    background-color: $lowgray;
                    border-left: 2px solid $primarycolor;
                    padding: 32px 48px;
                    position: relative;
                    border-bottom: 1px solid #313131;
                    transition: all linear 0.3s;
                    &::after{
                        content: "";
                        position: absolute;
                        height: 16px;
                        width: 16px;
                        left: 0;
                        top: 40px;
                        background: $primarycolor;
                        border-radius: 0 10px 10px 0;
                        transition: all linear 0.3s;
                    }
                    &:hover{
                        background-color: $sblack;
                        cursor: pointer;
                        border-left: 2px solid $secondarycolor;
                        border-bottom: 1px solid $gray;
                        &::after{
                            background-color: $card;
                        }
                        h5{
                            color: $hoverHcolor;
        
                        }
                        p{
                            color: $hoverpera;
                        }
                    }
    
                    h5{
                        font-size: 20px;
                        font-weight: 500;
                        margin-bottom: 10px;
                        color: $black;
                        transition: all linear 0.3s;
    
                    }
                    p{
                        font-size: 14px;
                        line-height: 1.95;
                        font-weight: 400;
                        margin-bottom: 10px;
                        color: $peracolor;
                        transition: all linear 0.3s;
                    }
                }
            }
            
        }
        .resume__skill_main{
            margin: 50px 0;
        }
        .skill__main{
            background: $lowgray;
            height: 14px;
            width: 100%;
            position: relative;
            border-radius: 3px;
            margin-bottom: 40px;
            .skill__bg{
                background: $purple;
                height: 100%;
                width: 90%;
                border-radius: 3px;
            }
            .skill__text{
                position: absolute;
                top: -20px;
                left: 5px;
                display: flex;
                justify-content: space-between;
                width: 95%;
                p{
                    color: $peracolor;
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }
    }
}


// --------------resume end here--------

// -------------portfolio start here-----

#portfolio{
    padding: 50px 0;
    background-color: #F5F2F0;
    .container{
        .portfolio__heading_main{
            h4{
                position: relative;
                margin-bottom: 100px;
                &::after{
                    content: "";
                    position: absolute;
                    bottom: -50px;
                    left: 50%;
                    transform: translateX(-50%);
                    height: 3px;
                    width: 70px;
                    background: #5c009e;
                }
            }
        }
        ul{
            li{
                cursor: pointer;
                transition: all linear 0.3s;
                &:hover{
                    color: $purple;
                }
            }
        }

        .work__card{
            margin-bottom: 24px;
        }
    }
}


// -------------portfolio end here-----

// ------------blog start here---------

#blog{
    padding: 50px;
    .container{
        .blog__heading_main{
            h4{
                position: relative;
                margin-bottom: 100px;
                &::after{
                    content: "";
                    position: absolute;
                    bottom: -50px;
                    left: 50%;
                    transform: translateX(-50%);
                    height: 3px;
                    width: 70px;
                    background: #5c009e;
                }
            }
        }
        // ---------blog content------
        .blog__img{
            position: relative;
            img{
                width: 100%;
            }
            .blog__date{
                position: absolute;
                left: 0;
                bottom: 0;
                background: $purple;
                padding: 10px 15px;
                margin: 0;
                h6{
                    font-style: 8px;
                    color: $white;
                    margin: 0;
                }
            }
        }
        .blog__text{
            a{
                font-size: 20px;
                font-weight: 600;
                letter-spacing: .1px;
                color: $black;
            }
            p{
                font-size: 14px;
                font-weight: 400;
                line-height: 1.7;
                color: $peracolor;
            }
        }
    }
}


// ------------blog end here---------

// -----------contact start here--------

#contact{
    padding: 75px 0;
    background-color: rgba(63, 139, 185, 0.12);
    .container{
        .contact__heading_main{
            h4{
                position: relative;
                margin-bottom: 100px;
                &::after{
                    content: "";
                    position: absolute;
                    bottom: -50px;
                    left: 50%;
                    transform: translateX(-50%);
                    height: 3px;
                    width: 70px;
                    background: #5c009e;
                }
            }
        }
        // ---------contact form--------
        .mb-3{
            margin-bottom: 16px;
        }
        .form__para {
            font-size: 16px;
            line-height: 1.95;
            font-weight: 400;
            color: $peracolor;
        }
        .info__logo {
            font-size: 30px;
            color: $purple;
        }
        .info__detail {
            border-left: 2px solid rgba(255, 255, 255, .15);
            padding: 12px 0 12px 22px;
            border-left: 1px solid $purple;

            .info__name {
                margin-bottom: 15px;
                color: $black;
            }
        }
    }
}

.form input::placeholder, textarea::placeholder {
	color: $peracolor !important;
}

.form input, textarea {
	background: rgba(37, 106, 117, 0.439) !important;
	color: $black !important;
	caret-color: $purple;
}

.form input, textarea {
	border: none !important;
	padding: 15px 25px !important;
}

.error__msg {
	padding: 10px 0 0 15px;
}

.form__btn {
	outline: none;
	border: none;
	padding: 10px 15px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	background: $purple;
	color: #fff;
	transition: all linear 0.3s;
	-webkit-transition: all linear 0.3s;
	-moz-transition: all linear 0.3s;
	-ms-transition: all linear 0.3s;
	-o-transition: all linear 0.3s;
    &:hover{
        opacity: 0.7;
    }
}

textarea:focus, textarea.form-control:focus, input.form-control:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="number"]:focus, [type="text"].form-control:focus, [type="password"].form-control:focus, [type="email"].form-control:focus, [type="tel"].form-control:focus, [contenteditable].form-control:focus {
	box-shadow: inset 0 -3px 0 $primarycolor;
}
// -----------contact end here--------



