$black: #151515;
$white: #fff;
$gray: rgba(255, 255, 255, 0.71);
$peracolor: #444;
$primarycolor: #1C1E53;


$semibold: 600;




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}

ul,ol{
    list-style: none;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: 0.8;
}  
p{
    color: $peracolor;
}
// .container{
//     width: 1320px;
// }

// ---------------nav start here-----------

.nav {
    padding: 30px 0 0 0;
	position: absolute;
    z-index: 999;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
    .container{
        .nav__main{
            ul{
                li{
                    a{
                        transition: all linear 0.2s;
                        color: $white !important;
                        font-weight: $semibold;

                        &:hover{
                            color: $gray !important;
                        }
                    }
                }
            }
        }
    }
}
.nav.fixed {
	position: fixed;
	width: 100%;
	z-index: 999;
	transition: all linear 0.2s;
	left: 0;
	top: 0;
	padding: 0px 0;
}

// -------------------nav end here---------

// -------------------banner start here---------

#banner{
    padding: 250px 0;
    background: url(../images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    position: relative;

    .container{
        .banner__heading{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            h1{
                color: $white;
                font-size: 70px;
                letter-spacing: 1px;
                font-weight: 700;
                text-transform: capitalize;
                margin-bottom: 50px;
            }
            h4{
                color: $white;
                font-size: 30px;
                font-weight: 400;
                letter-spacing: 0.3px;

            }
        }
        .banner__icon{
            position: absolute;
            right: 100px;
            bottom: 100px;
            ul{
                display: flex;
                flex-direction: column;
                gap: 10px;
                li{
                    a{
                        font-size: 30px;
                        color: $white;
                        transition: all linear 0.2s;
                        &:hover{
                            color: $gray;
                        }
                    }
                }
            }
        }
    }

}

// -------------------banner end here---------

// ----------------about start here---------

#about{
    padding: 150px 0;
    background-color: #f5f5f5;

    .container{
        p{
            font-size: 15px;
        }
        h2{
            position: relative;
            color: $black;
            font-size: 46px;
            text-transform: capitalize;
            font-weight: 700;
            margin-bottom: 96px;
            &::after{
                position: absolute;
                content: "";
                bottom: -50px;
                left: 50%;
                transform: translateX(-50%);
                height: 3px;
                width: 70px;
                background-color: $primarycolor;
            }
        }
        .about__main{
            .about__img{

            }
            .about__detail{
                .about__heading{
                    h3{
                        font-size: 24px;
                        font-weight: 500;
                        text-transform: capitalize;
                        color: $primarycolor;
                        margin-bottom: 20px;
                    }
                    h1{
                        font-size: 30px;
                        font-weight: 700;
                        line-height: 1.6;
                        color: $black;
                        margin-bottom: 20px;
                    }
                    p{
                        font-size: 15px;
                        border-bottom: 2px solid #1C1E53;
                        font-weight: 400;
                        line-height: 1.95;
                        padding-bottom: 20px;
                    }
                    .about__contact{
                        margin: 20px 0;
                        .about__name{
                            h5{
                                display: inline-block;
                                font-size: 16px;
                                margin-right: 5px;
                                color: $black;
                            }
                            span{
                                font-size: 15px;
                                color: $black;
                            }
                        }
                        .about__email{
                            margin-bottom: 15px;
                            h5{
                                display: inline-block;
                                font-size: 16px;
                                margin-right: 5px;
                                color: $black;
                            }
                        }
                        .about__age{
                            h5{
                                display: inline-block;
                                font-size: 16px;
                                margin-right: 5px;
                                color: $black;
                            }
                            span{
                                font-size: 15px;
                                color: $black;
                            }
                        }
                        .about__from{
                            h5{
                                display: inline-block;
                                font-size: 16px;
                                margin-right: 5px;
                                color: $black;
                            }
                            span{
                                font-size: 15px;
                                color: $black;
                            }
                        }
                    }
                }
            }
        }
    }
}





// ----------------about end here---------









